<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main>
	
			<h2 style="margin-top: 100px">Keyboard product</h2>
	
            <div class="categories_right" style="width:60% ; margin-left:20%">
                <div th:each="p: ${items}" class="category">
               
					<div class="body" >
						<a th:href="@{|/product/detail/${p.id}|}" >
							<img style="width: 50% ;height: 50% ;margin-left: 25%;"  th:src="@{|/assets/images/${p.image}|}">
						</a>
					</div>
					<br>
					 <div class="head">
						<div  th:utext="${p.name}"></div>
					</div>
					
					<div class="foot">
						<b class="pull-left" style="margin-top:5px">$[[${p.price}]]</b>
						<p th:replace="~{/product/_actions::item_id(${p.id})} " />
					</div>
               </div>
            </div>
	</main>
</div>