<div xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="item_id(id)">
		<button th:attr="ng-click=@{|cart.add(${id})|}" class="btn btn-success" style="background-color: #7585bd">
			<i  class="fa-solid fa-cart-shopping" style="color: #333333"></i>
		</button>
		<button style="color: #333333; background-color: #7585bd" th:attr="ng-click=@{|cart.add(${id})|}" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal4">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
  <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
</svg>
</button>

<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Quick purchase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="col-12" >
						<table class="table table-hover" >
							<thead class="bg-success">
								<tr>
									<th class="indecor-product-remove">Delete</th>
									<th class="indecor-product-thumbnail">Image</th>
									<th class="indecor-product-name">Product</th>
									<th class="indecor-product-price">Price</th>
									<th class="indecor-product-quantity">Quality</th>
									<th class="indecor-product-subtotal">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cart.items">
									<td class="indecor-product-remove"><a
										href="javascript:(0);" ng-click="cart.remove(item.id)"> <i 
											style="color: black; margin-left: 30px ; margin-top: 10px" class="fa fa-trash"></i>
									</a></td>
									<td   class="indecor-product-thumbnail">
									<img 
										src="/../../assets/images/{{item.image}}" width="50px" height="50px" ></td>
									<td class="indecor-product-name">
										<h4 class="title">{{item.name}}</h4>
									</td>
									<td class="indecor-product-price"><span class="price">{{item.price
											| number:1}} $</span></td>


									<td class="indecor-product-quantity"><input type="number"
										pattern="[0-9]*" id="spinner" name="value" value="1" min="1"
										max="200" step="1" ng-change="cart.saveToLocalStorage()"
										ng-model="item.qty"></td>


									<td class="indecor-product-subtotal"><span class="price">{{item.qty*item.price
											| number:1}} $</span></td>
								</tr>
							</tbody>
						</table>

						<div class="row">
							
							<hr>
							<div class="col-sm-12">
								<div class="cart-page-total">
									<h5>
										Total : <b style="margin-left: 10px">{{cart.amount |
											number : 3}}$</b>
									</h5>
									<div class="container" style="display: flex ;margin-left: 130px; margin-bottom: 10px" >
										<a style="background-color: #dc3545 ;height: 50px;width:50px; margin-left:5px" class="btn btn-danger"
											href="javascript:(0);" ng-click="cart.clear()"> <svg
												xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-trash-fill"
												viewBox="0 0 16 16">
													  <path
													d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
													</svg> 
										</a> <a style="background-color: #ffc107 ;height: 50px; width:50px;margin-left:5px ; margin-right:5px" class="btn btn-info"
											href="/"> <svg xmlns="http://www.w3.org/2000/svg"
												style="margin-right: 30px" width="20" height="20"
												fill="currentColor" class="bi bi-box-arrow-left"
												viewBox="0 0 18 18">
											  <path fill-rule="evenodd"
													d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
											  <path fill-rule="evenodd"
													d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
											</svg> 
										</a> 
										<a style="background-color: #17b46c ;height:50px;width:50px" class="btn btn-success"
											th:href="@{/cart/checkout}"> 
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-check-lg"
												viewBox="0 0 16 16">
										  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022" />
										</svg> 
										</a>

									</div>

								</div>
							</div>
						</div>
					</div>
      
    </div>
  </div>
</div>
	</th:block>
</div>



